$bg-primary: #182538;
$bg-secondary: #1d2844;

$primary-color: #6736dd;
$secondary-color: #12c3f7;

$text-primary: white;
$text-dark: black;

$primary-family: "Poppins", sans-serif;

$fw-bold: 800;
$fw-normal: 600;
$fw-light: 500;

$bg-gradient1: linear-gradient(45deg, $primary-color, $secondary-color);
$bg-gradient2: linear-gradient(-45deg, #ffec61, #f321d7);
$bg-gradient3: linear-gradient(-45deg, #f403d1, #64b5f6);
$bg-gradient4: linear-gradient(-45deg, #24ff72, #9a4eff);

$navbar-index: 10;
$navMenuIcon-index: 15;
$navOverlay-index: 9;
$navLogo-index: 1;
$navMenu-index: 10;

$particle-index: 1;
$heroBtn-index: 5;
